<mat-toolbar color="basic">
    
    <div >
        <ul fxLayout fxLayoutGap="25px" class="navigation-items">
            <li>
                <a mat-list-item routerLink="/buyers/calgary-listing">Calgary</a>
            </li>
            <li>
                <a mat-list-item routerLink="/buyers/airdrie-listing">Airdrie</a>
            </li>
            <li>
                <a mat-list-item routerLink="/buyers/chestermere-listing">Chestermere</a>
            </li>
            <li>
                <a mat-list-item routerLink="/buyers/other-town-listing">Other Nearest Towns</a>
            </li>
        </ul>
    </div>

</mat-toolbar>